@import "tailwindcss/base.css";
@import "tailwindcss/components.css";
@import "tailwindcss/utilities.css";

body ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
  height: 10px;
  -webkit-transition: color .25s ease;
  transition: color .25s ease;
}

body ::-webkit-scrollbar-track {
  background: rgba(242, 64, 85, 0.1);
  border-radius: 0;
  -webkit-transition: color .25s ease;
  transition: color .25s ease;
}

body ::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 15px;
  background: rgba(242, 64, 85, 0.25);
  -webkit-transition: color .25s ease;
  transition: color .25s ease;
}

body ::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(242, 64, 85, 0.15);
}

body ::-webkit-scrollbar-thumb:hover {
  background: rgba(242, 64, 85, 0.8);
}